
/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  background-color: #f2f2f2;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}


.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    position: relative;
}


.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    padding: 0 14px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.toogle-buttons-group {
    margin-bottom: 2em;
    display: flex;
}

.mat-button-toggle-group {
    height: 38px;
    align-items: center;
  }
